<%= form_tag '/index' %>
<%= label_tag 'Github Username' %>
<%= text_field_tag :github %>
<%= submit_tag "find repos" %>


<table>
  <thead>
    <tr>
      <th>Repos</th>
    </tr>
  </thead>

  <tbody>
    <% @repo.github_repos.each do |repo| %>
    <tr>
      <td><%= repo.name %><td>
    </tr>
    <% end %>
  </tbody>
</table>

<table border = 1>
  <thead>
    <tr>
      <th>Location</th>
      <th>Created at</th>
      <th>Email</th>
      <th>Name</th>
      <th>Company</th>
      <th>avatar</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @location.location %></td>
      <td><%= @location.created_at %></td>
      <td><%= @location.email%></td>
      <td><%= @location.name %></td>
      <td><%= @location.company %></td>
      <td><%= image_tag @location.avatar_url %></td>
    </tr>
  </tbody>
</table>
